<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testng.DataProvider_Program"/>
      <class name="Testng.Priority_program"/>
      <class name="Testng.Groups_Program"/>
      <class name="Testng.DependsOn_Program"/>
      <class name="Testng.Annotations"/>
      <class name="Testng.Enabled_False_Program"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
